@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, sans-serif;
    --color-bg: #FCFBF8;
    --color-fg: #1b1b1b;
    --color-border: #dcdad5;
  }

  html {
    scroll-behavior: smooth;
    background-color: #FCFBF8;
  }

  body {
    background-color: #FCFBF8;
    color: #1b1b1b;
  }

  * {
    box-sizing: border-box;
  }

  ::selection {
    background-color: #1b1b1b;
    color: #FCFBF8;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
